@model Messanger.Models.ChatModel
@{
    ViewBag.Title = "Login & Signup";
}
<div class="flexdivrow" style="width: 115%;margin-left: -100px;">
    <div style="width: 100%; height: 550px; background-color: rgb(3, 91, 93); padding-left: 20px">
        <div class="chat-container">
            <div class="chat-header">
                <h2>Chat @Model.chat_id</h2>
            </div>
            <div class="chat-messages" id="chat-messages">
                
            </div>
            <div class="chat-input">
                @* <form asp-action="AddMessage" asp-controller="Db" method="post"> *@
                    <input type = "hidden" name="chatId" value="@Model.chat_id">
                    <input type = "hidden" name="user" value="@ViewContext.HttpContext.Session.GetString("userName")">
                <input type="text" name="message" id="message" placeholder="Type your message">
                @*@Html.TextBox("Message")*@
                    <button id="send"> Send </button>
                @* </form> *@

            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.min.js"></script>

<script type="text/javascript">
function getModelData(){
   return @Model.chat_id;
}
function getUserName(){
    return '@ViewContext.HttpContext.Session.GetString("userName")';
}

$("#send").click(function (){
    let url = "/Db/AddMessage";
    let chatId = getModelData();
    let user = getUserName();
    let message = $("#message").val();
    $.post(url, {chatId: parseInt(chatId), user:user, message: message}, function (data){
        console.log(data);
    });
});
</script>
<script src='~/js/sendmessager.js'></script>